.dropzone {
    border: 3px dashed grey;
}

.dz-preview{
	border: 2px solid grey;
	padding: 10px 0px;
}

.brand-logo{
	width: 100%;
    max-width: 171px;
    background-image: url('../img/logo_diunsa_cpanel.png');
    text-indent: -99999px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.portlet-placeholder {
    border: 1px dotted black;
    position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 16px;
	width:116px;
	min-height: 100px;
  }

.icontainer {
  position: relative;
  height: 0;
  overflow: hidden;
   padding-bottom: 30% !important;
   border: 2px solid black;
}

.icontainer iframe{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}

#topbar{
	background-image:url('../img/cpanel_topbg.png');
    background-size: contain;
}

#loginform{
	margin:0 auto;
	margin-top:50px;
	padding:30px;
	max-width:500px;
	
}

#main{
	padding-left: 240px;
}

#left-sidebar-nav {
    position: fixed;
    width: 100px;
    left: 180px;
    z-index: 999;
    height: auto;
}

.sidebar-collapse {
    position: fixed;
    left: 5px;
    top: 5px;
}

ul.side-nav.leftside-navigation {
    top: 64px;
	height: calc(100% - 64px);
    overflow: hidden;
}

ul.side-nav.leftside-navigation .profile-btn {
    margin: 0;
    text-transform: capitalize;
    padding: 0;
    text-shadow: 1px 1px 1px #444;
    font-size: 15px;
}

ul.side-nav.leftside-navigation .profile-btn i{
    margin: 0;
}

li.user-details{
	background: url('../img/user-bg.jpg') no-repeat center center;
	background-size: cover;
	margin-bottom: 15px;
	padding: 15px 0 0 15px;
}

ul.side-nav.leftside-navigation li.user-details #profile-dropdown a {
    padding: 8px 15px;
}

ul.side-nav.leftside-navigation li {
    line-height: 44px;
}

ul.side-nav.leftside-navigation li a {
    font-size: 12px;
    font-weight: 400;
}

.side-nav a {
    line-height: 42px;
    height: 42px;
}

.user-roal {
    color: #fff;
    margin-top: -16px;
    font-size: 13px;
    text-shadow: 1px 1px 1px #444;
}

#slide-out li a i {
    line-height: inherit;
    width: 2rem;
    font-size: 1.6rem;
    display: block;
    float: left;
    text-align: center;
    margin:0px;
}

.container {
    padding: 0 0.5rem;
	padding-bottom: 3rem;
    margin: 0 auto;
    max-width: 100% !important;
    width: 98%;
}

.card-move-up .move-up {
    padding: 20px;
}

.chart-title {
    font-size: 1.6rem;
    font-weight: 300;
}

.chart-box {
    float: right;
    text-align: center;
    padding: 8px;
    border-radius: 3px;
}

.chart-box p{
	margin:0px;
}
.chart-box .chart-box-title {
    font-size: 0.9rem;
	font-weight:bold;
    margin: 0;
}

.chart-box .chart-box-total {
    font-size: 0.7rem;
    margin: 0;
}

#chart-dashboard {
    padding-top: 12px;
}

.btn-move-up {
    position: relative;
    top: -40px;
    right: -10px;
    margin-right: 10px !important;
}

.minibtn{
	padding: 0px 10px;
	/*display: inherit !important;*/
}

.frmmodal {
    width: 35%;
}

.frm-row{
	margin-bottom:20px;
	margin-left:0px !important;
	margin-right:0px !important;
}

.collapsible-header .btn-floating{
	width: 45px;
	height: 45px;
		margin-left:5px;
}

.catlist li .collapsible-header{
	padding: 3px 1rem;
}

.collapsible-header .btn-floating i{
	line-height: 45px;
	margin: 0px;
	width: 100%;
	font-size: 20px;
}


@media screen and (max-width: 993px){
	#main{
		padding-left: 0px;
	}
}